[submodule "libapps"]
	path = deps/libapps
	url = https://github.com/rudironsoni/libapps
[submodule "deps/libarchive"]
	path = deps/libarchive
	url = https://github.com/rudironsoni/libarchive
[submodule "deps/linux"]
	path = deps/linux
	url = https://github.com/rudironsoni/linux
	update = none
	shallow = true
