<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ArchiveIdentifier</key>
	<string>C473A09A-1BCD-4097-9E62-B6BC781DE7FD</string>
	<key>EndTimeRef</key>
	<dict>
		<key>ContinuousTime</key>
		<integer>24894882438583</integer>
		<key>UUID</key>
		<string>02153091-A206-48FF-9E23-3149386EA15A</string>
		<key>WallTime</key>
		<integer>1776974558000000000</integer>
	</dict>
	<key>HighVolumeMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>24890538288665</integer>
			<key>UUID</key>
			<string>02153091-A206-48FF-9E23-3149386EA15A</string>
			<key>WallTime</key>
			<integer>1776974377000000000</integer>
		</dict>
	</dict>
	<key>HighVolumeSizeLimit</key>
	<integer>18446744073709551615</integer>
	<key>LiveMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>24891670548514</integer>
			<key>UUID</key>
			<string>02153091-A206-48FF-9E23-3149386EA15A</string>
			<key>WallTime</key>
			<integer>1776974424171247291</integer>
		</dict>
	</dict>
	<key>OSArchiveVersion</key>
	<integer>5</integer>
	<key>OSLoggingSupportProject</key>
	<string>libtrace-1861.100.19</string>
	<key>OSLoggingSupportVersion</key>
	<real>1861.0999999999999</real>
	<key>PersistMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>24891670547754</integer>
			<key>UUID</key>
			<string>02153091-A206-48FF-9E23-3149386EA15A</string>
			<key>WallTime</key>
			<integer>1776974424171215625</integer>
		</dict>
	</dict>
	<key>PersistSizeLimit</key>
	<integer>18446744073709551615</integer>
	<key>SignpostMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>24891670547978</integer>
			<key>UUID</key>
			<string>02153091-A206-48FF-9E23-3149386EA15A</string>
			<key>WallTime</key>
			<integer>1776974424171224958</integer>
		</dict>
	</dict>
	<key>SignpostSizeLimit</key>
	<integer>18446744073709551615</integer>
	<key>SourceIdentifier</key>
	<string>6ADFF437-6481-409F-94B3-08C2EEE86247</string>
	<key>SpecialMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>24891670547933</integer>
			<key>UUID</key>
			<string>02153091-A206-48FF-9E23-3149386EA15A</string>
			<key>WallTime</key>
			<integer>1776974424171223083</integer>
		</dict>
		<key>TTL</key>
		<dict/>
	</dict>
	<key>SpecialSizeLimit</key>
	<integer>18446744073709551615</integer>
</dict>
</plist>
