<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultDevices</key>
	<dict>
		<key>com.apple.CoreSimulator.SimRuntime.iOS-26-2</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-A16</key>
			<string>78AF7149-BECE-42BC-86D0-C85BBBF06011</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-11-inch-M3</key>
			<string>2106BFFD-2719-4FE9-B7E1-7F77FDA102E1</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-13-inch-M3</key>
			<string>A05A005C-FB28-4855-993B-4207417B415D</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro-11-inch-M5-12GB</key>
			<string>56BDA121-138B-4D10-9369-6E808B97CB29</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro-13-inch-M5-12GB</key>
			<string>5EBFC81C-DEDA-403E-BE26-6280049A3E9F</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-mini-A17-Pro</key>
			<string>828F9BEE-7F40-466A-8EE9-6338BCF507BF</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16e</key>
			<string>191BA62D-6721-4D6F-B451-AA1213177654</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-17</key>
			<string>90CA2346-1AB9-4BC3-A1CF-E52B970BBD6E</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-17-Pro</key>
			<string>FC3088BD-6301-4190-BEB6-FA09CAFD9AE3</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-17-Pro-Max</key>
			<string>8ADD8547-DC1C-48FB-BC9C-7F32DF0E04C2</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-Air</key>
			<string>DF5B5562-ED2D-4592-BDA8-FDB5F2CA15AD</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.iOS-26-3</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-A16</key>
			<string>83D512A3-1838-4BD5-AE5F-B044FFFFE6C5</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-11-inch-M3</key>
			<string>C5E18369-E212-4FD4-9516-23C78C32EBDB</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-11-inch-M4</key>
			<string>7551ABE1-5C75-4DD1-822F-4143C4028659</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-13-inch-M3</key>
			<string>1C7B1CEA-035A-4927-B412-7851915AFAA0</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-13-inch-M4</key>
			<string>2A98EB7D-007B-4C65-87A2-06FC584D3221</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro-11-inch-M5-12GB</key>
			<string>81CDF701-92C2-4E4D-985B-D404EF7D5377</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro-13-inch-M5-12GB</key>
			<string>C99A649B-2DDB-4763-AC81-7F759BB68E86</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-mini-A17-Pro</key>
			<string>47569817-AE9A-4C22-BFB9-612E1EAB64C7</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16e</key>
			<string>CCDE1B14-B1A4-4A39-BC80-16C49421E137</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-17</key>
			<string>9734A72F-0965-4878-8E58-556C2B92D23A</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-17-Pro</key>
			<string>A34273D2-BCBB-4900-BAAF-09AF75144636</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-17-Pro-Max</key>
			<string>F86FA5CB-5AD1-44FB-B0FB-947871240FB3</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-17e</key>
			<string>E51F4ABD-04B7-4795-80B4-B27381510FE2</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-Air</key>
			<string>0146AD1B-BFF1-4D3A-AF27-12A05BE0A377</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.iOS-26-4</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-A16</key>
			<string>B9F0E710-1225-4551-9F42-5D98980487FA</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-11-inch-M4</key>
			<string>021DFB56-DA23-4505-85CB-C3C98B23DF1E</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-13-inch-M4</key>
			<string>90AAA6D0-B444-4393-80F1-3204D43D43D1</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro-11-inch-M5-12GB</key>
			<string>1A1C5C93-F1F6-408D-8653-DA0A8E0A8FB8</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro-13-inch-M5-12GB</key>
			<string>0B953D24-B797-4103-815F-803C09A905DC</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-mini-A17-Pro</key>
			<string>023EBADE-A344-48F5-89F3-05CE7610853C</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-17</key>
			<string>971A2EC4-3492-4F21-8D79-96E6863127B4</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-17-Pro</key>
			<string>E6186E89-8784-473B-A4E4-66E42693F14E</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-17-Pro-Max</key>
			<string>CD9BC49C-1E8D-4402-91A9-0CDC0F568460</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-17e</key>
			<string>0A9CB30E-6EB6-44F8-BBF3-72151BEDCF95</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-Air</key>
			<string>C1F99CE6-2673-4C8D-A05E-A07B9FDBBE4B</string>
		</dict>
		<key>version</key>
		<integer>0</integer>
	</dict>
	<key>DevicePairs</key>
	<dict/>
	<key>Version</key>
	<integer>0</integer>
</dict>
</plist>
